* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  padding-top: 0;
  margin-top: 0;
}

.header {
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #eee;
  display: flex;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  align-items: center;
}

.fa-bars {
  font-size: 2em;
}

.navigation {
  width: 20%;
  padding: 0.5em;
}

.nav-list {
  padding: 0;
  list-style-type: none;
}

.nav-list-item {
  background-color: #808080;
  color: #fff;
  height: 2em;
  margin-bottom: 0.5em;
}

.nav-list-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5em;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 599px) {
  .navigation {
    visibility: hidden;
  }

  button {
    visibility: visible;
  }
}

@media screen and (min-width: 600px) {
    .navigation {
    visibility: visible;
  }

  button {
    visibility: hidden;
  }
}
