* {
  box-sizing: border-box;
}

.navigation {
  display: flex;
  background-color: #ff7f50;
  min-height: 200px;
  flex-grow: 1;
}

.product-list {
  display: flex;
  background-color: #006400;
  min-height: 200px;
  flex-grow: 1;
}

.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;
  flex-grow: 1;
}

span {
  text-transform: lowercase;
  font-family: Verdana, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}

@media screen and (min-width: 600px), (max-width: 900px) {
  .products {
    display: flex;
    flex-grow: 2;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
  }
} 
